/* Fonts */

$fonts-main: "Montserrat";
$fonts-handwright: "Great Vibes", cursive;
$fonts-light: "Roboto Slab";
$fonts-serif: 'PT Serif', serif;

/* Colors */

$color-backgrounds: #f7f7f7;
$color-gray: #c0c0c0;
$color-main: #fed136;
$color-dark: #222222; 
$color-twitter: #00aced;
$color-facebook: #3b5998;
$color-pinterest: #cb2028;
$color-google: #d95232;

/* Images */

.photo-1 {
	background-image: url("../images/image6.jpg");
}

.photo-2 {
	background-image: url("../images/image1.png");
}

.photo-3 {
	background-image: url("../images/image2.png");
}

.photo-4 {
	background-image: url("../images/image3.png");
}

.photo-5 {
	background-image: url("../images/image4.png");
}

.photo-6 {
	background-image: url("../images/image5.png");
}

.face-1 {
  background-image: url("https://images.unsplash.com/photo-1509967419530-da38b4704bc6?auto=format&fit=crop&w=1372&q=80"); 
}

.face-2 {
  background-image: url("https://images.unsplash.com/photo-1507875165751-e330e59d8675?auto=format&fit=crop&w=1350&q=80");
  background-position: 40% 20%;
}

.face-3 {
  background-image: url("https://images.unsplash.com/photo-1507101105822-7472b28e22ac?auto=format&fit=crop&w=1352&q=80");
  background-position: 30% 10%; 
}
  
.logo-1 {
	background-image: url("../images/logo1.png");
}

.logo-2 {
	background-image: url("../images/logo2.png");
}

.logo-3 {
	background-image: url("../images/logo3.png");
}

.logo-4 {
	background-image: url("../images/logo4.png");
}

.about-pic1 {
	background-image: url("../images/about1.png");
}

.about-pic2 {
	background-image: url("../images/about2.png");
}
.about-pic3 {
	background-image: url("../images/about3.png");
}
.about-pic4 {
	background-image: url("../images/about4.png");
}
.about-pic5 {
	background-image: url("../images/about5.png");
}

* {
	margin: 0;
	padding: 0;
	font-family: $fonts-main;
	box-sizing: border-box;
}

h1 {
	font-size: 40px;
	font-weight: 900;
}

p {
	font-size: 16px;
	color: $color-gray;
	font-family: $fonts-serif;
	font-style: italic;
}

.btn {
	width: 240px;
	height: 65px;
	background: $color-main;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: 700;
	line-height: 50px;
	color: #fff;
	a {
		&:hover {
		text-decoration: none;
		}
	}
}

/* Welcome */

.welcome {
	background-image: url('../images/background.png');
	background-size: cover;
	width: 100%;
	height: 700px;	
	padding: 30px 15vw;
	nav {
		h1 {
			color: $color-main;
			display: block;
			float: left;
			font-size: 30px;
			font-weight: 500;
			letter-spacing: 3px;
			margin-top: 0;
			font-family: 'Great Vibes', cursive;
		}
		li {
			list-style-type: none;
			display: block;
			float: right;
			padding: 0 10px;
			height: 30px;
			line-height: 30px;
			a {
				color: #fff;
				text-decoration: none;
				font-size: 14px;
				font-weight: 400;
				text-transform: uppercase;
			}	
			&:hover {
				a {
					color: $color-main;
				}
			}
		}
	}	
	.hero {
		width: 100%;
		height: 500px;
		margin: 50px auto;
		padding-top: 150px;
		* {
			color: #fff;
			margin: 20px auto;	
		}
		h1 {
			font-style: italic;
			font-weight: 100;
			letter-spacing: 2px;
			font-family: $fonts-serif;
		}
		h2 {
			font-size: 75px;
			font-weight: 700;
			text-transform: uppercase;
		}
		.btn-default {
			&:hover {
			color: $color-main;
			background-color: #fff;
			}
		}
	}
}

/* Services */

.services {
	text-align: center;
	margin: 110px 0 30px 0;
	h3 {
		font-size: 18px;
		font-weight: 700;
	}
	p, h1 {
		margin: 15px 0;
		line-height: 35px;
	}
	.col {
		margin: 40px 0;
		p {
			font-size: 14px;
			line-height: 25px;
			font-style: normal;
			font-family: $fonts-light;
		}
	}
	.fa {
		font-size: 40px;
		border: 3px solid $color-main;
		color: $color-main;
		border-radius: 50%;
		display: block;
		padding: 10px;
		width: 70px;
		height: 70px;
		margin: 20px auto;
	}
}

/* GALLERY */

.gallery {
	background: $color-backgrounds;
	padding: 80px 0;
	.container {
		padding-top: 40px;
		.col {
			padding: 17px;
			position: relative;
			overflow: hidden;
			height: 420px;
			margin-bottom: 30px;
			.photo { 
				height: 300px;
				z-index: 3;
				background-size: cover;
				background-position: center;
				width: 100%;
			}
			.photo-description {
				text-align: center;
				background-color: #fff;
				padding: 30px 0;
				position: relative;
				z-index: 3;
				h4 {
					line-height: 0px;
					font-weight: 900;
				}
				p {
					font-family: $fonts-serif;
				}
			}
			.layer {
				height: 300px;
				z-index: 2;
				width: calc(100% - 34px);
				position: absolute;
				top: 250px;
				.photo-ico {
					cursor: pointer;
					display: block;
					width: 70%;
					font-size: 8px;
					color: #fff;
					margin: 135px auto;
					text-align: center;
					visibility: hidden;
					span {
					font-size: 18px;
					border: 2px solid $color-main;
					padding: 0 0 0 5px;
					}
				}
			}
			&:hover {
				.layer {
					top: 17px;
					background: rgba(0,0,0,0.8);
				}
				.photo-ico {
					visibility: visible;
					color: $color-main;
				}
			}
		}
	}
}

/* ABOUT */

.about {
	padding: 100px 0 0;
	h1, p {
		text-align: center;
	}
	.row {
		height: 280px;
		overflow: hidden;
		&:first-child {
			margin-top: 85px;
		}	
	}
	.col {
		padding: 0;
		&:first-child * {
			text-align: right;
			padding: 0 30px 0 8vw;
		}
		&:nth-child(3) * {
			text-align: left;
			padding: 0 8vw 0 30px;
		}
		h4 {
			font-weight:  700;
		}
		p {
			font-size: 14px;
			font-family: $fonts-light;
			font-style: normal; 
		}
		h5 {
			margin: 0;
			font-size: 18px;
			padding-top: 35px;
			color: #fff;
			line-height:25px;
			text-shadow: 0 1px 1px rgba(0, 0, 0, 0.7);
			font-weight: 700;
		}
	}
	.line {
		width: 2px;
		height: 100px;
		margin: 0 auto;
		background: $color-gray;
	}
	.about-picture {
		width: 180px;
		height: 180px;
		background-size: cover;
		margin: 0 auto;
		border-radius: 50%;
	}
}	

/* EMPLOYERS */
	
.employers {
	background: $color-backgrounds;
	padding: 80px 0;
	p {
		margin: 15px 0;
		line-height: 35px;
	}
	.employers-description {
		width: 80%;
		margin: 0 auto;
		p {
			font-style: normal;
			font-family: $fonts-light;
		}
	}
	.col {
		margin: 40px 0;
		.face {
			height: 200px;
			width: 200px;
			border-radius: 50%;
			margin: 10px auto;
			background-position: center;
			background-size: 180%;
			color: transparent;
			font-size: 25px;
			line-height: 200px; 
			&:hover {
				cursor: pointer;
				background: rgba(0,0,0,0.8);
				color: $color-main;
			}
		}
		.signature {
			p {
				line-height: 0px;
				font-style: normal;
			}
			h4 {
				padding-top: 15px;
				font-weight: 700;
			}
			.col {
				padding: 0;
				margin-top: 10px;
				.fa {
					border: 3px solid #000;
					border-radius: 50%;
					width: 40px;
					height: 40px;
					font-size: 20px;
					line-height: 35px;
					cursor: pointer;
					color: #000;
					&:hover {
						line-height: 40px;
						border: none;
						color: #fff;	
					}
				}
				.fa-facebook {
					&:hover {
						background-color: $color-facebook;
					}
				}
				.fa-twitter {
					&:hover {
						background-color: $color-twitter;
					}
				}
				.fa-pinterest-p {
					&:hover {
						background-color: $color-pinterest;
					}
				}
				.fa-google-plus {
					&:hover {
						background-color: $color-google;
					}
				}
			}
		}
	}
}

/* LOGO */

.logo {
	padding: 20px;
	.col {
		padding: 20px;
	}
}

/* CONTACT */

.contact {
	min-height: 650px;
	background-image: url("../images/map.png");
	background-size: cover;
	background-position: right bottom;
	padding: 80px;
	.row {
		margin: 50px 0 0;
		padding-bottom: 0;
		div {
			margin-bottom: 31px;
			&:last-child {
				margin-bottom: 0;
			}
		}
	}
	input {
		height: 50px;
	}
	input:focus, textarea:focus {
		outline: none;
	}
	textarea {
		resize: none;
	}
	h1 {
		color: #fff;
	}
}

/* FOOTER */

.footer {
	padding: 20px;
	line-height: 60px;
	.col {
		.row {
			padding: 0 30px;
		}
	}
	.fa {
		text-align: center;
		border-radius: 50%;
		width: 40px;
		height: 40px;
		font-size: 20px;
		line-height: 40px;
		cursor: pointer;
		color: #fff;
		background-color: $color-dark;
		&:hover {
			background-color: $color-main;

		}
	}
	.fa-facebook {
		&:hover {
			background-color: $color-facebook;
		}
	}
	.fa-twitter {
		&:hover {
			background-color: $color-twitter;
		}
	}
	.fa-pinterest-p {
		&:hover {
			background-color: $color-pinterest;
		}
	}
	.fa-google-plus {
		&:hover {
			background-color: $color-google;
		}
	}
}

.modal {
	.modal-body {
		background: $color-main;
		button {
			color: $color-gray;
			background: $color-dark;
			width: 100px;
			height: 35px;
			line-height: 20px;
			&:hover {
				background: $color-gray;
				color: $color-main;
			}
		}
	}
	.mod-photo {
		height: 75vh;
		background-size: cover;
	}
}

/* RDW */

@media(max-width: 1200px) {

	.about {
		.about-picture {
			width: 150px;
			height: 150px;
		}
		.line {
		height: 130px;
		}
	}
}	

@media(max-width: 992px) {

	.footer {
		.col {
			.row {
			padding: 0;
			}
		}
	}
	
	.about {
		.about-picture {
			width: 180px;
			height: 180px;
		}
		.line {
			height: 100px;
		}
		.col {
			&:first-child * {
				padding: 0 10px 0 15px;
			}
			&:nth-child(3) * {
				padding: 0 15px 0 10px;
			}
		}
	}
}

@media(max-width: 768px) {

	.welcome {
		padding: 30px 5vw;
		nav {
			h1 {
				width: 60%;
				float: clear;
				margin: 0 20% 15px;
				text-align: center;
			}
			li {
				width: 60%;
				text-align: center;
				float: clear;
				padding: 0 10px;
				margin: 5px 20%;
				border: 2px solid #242424;
				background-color: rgba(0,0,0,0.8);
				&:hover {
					background-color: rgba(0,0,0,0.9);
				}
			}
		}	
		.hero {
			padding-top: 220px;
			h2 {
				font-size: 60px;
			}
		}
	}
	
	.about {
		.col {
			p {
				font-size: 11px;
			}
		}
	}
	
	.contact {
		.btn {
			margin-top: 30px;
		}
	}
}

@media(max-width: 560px) {

	.welcome {	
		.hero {
			h2 {
				font-size: 50px;
			}
			h1 {
				font-size: 34px;
			}
		}
	}
	
	.about {
		.row {
			&:last-child {
				height: 200px;
			}	
		}
		.about-picture {
			width: 150px;
			height: 150px;
		}
		.line {
			height: 130px;
		}
	}
}

@media(max-width: 480px) {
	.about {
		.about-picture {
			width: 110px;
			height: 110px;
		}
		.line {
			height: 180px;
			width: 1px;
		}
		.col {
			h4 {
				font-size: 13px;
			}
			h5 {
				font-size: 13px;
				padding-top: 15px;
				line-height:20px;
			}
		}	
	}
	.logo {
		.col {
			float: clear;
			width: 100%;
		}
	}
	.contact {
		padding: 80px 0;
	}
	.modal {
		.mod-photo {
			height: 360px;
		}
	}
}